section.about
  .container
    h1.about-title О платформе
    .about-subtitle «Образовательная онлайн-платформа Точка знаний»
    .about-container
      .abouts-block
        .abouts-text.sticky
          h2 Собственное программное обеспечение
          p
            | Мы разработали собственное программное обеспечение – платформу для занятий, чтобы предоставить лучшее качество обучения как с технической, так и с образовательной стороны.
        .abouts-image
          a(
            data-fancybox="about"
            href="assets/img/about-image1-big.jpg"
          )
            img(
              alt=""
              src="assets/img/about-image1.jpg"
            )
      .abouts-block
        .abouts-image
          a(
            data-fancybox="about"
            href="assets/img/about-image2-big.jpg"
          )
            img(
              alt=""
              src="assets/img/about-image2.jpg"
            )
        .abouts-text.sticky
          h2 Удобный цифровой интерфейс
          p
            | На платформе реализован удобный цифровой интерфейс, который позволяет автоматизировать распределение образовательных материалов и контролировать успеваемость учеников, благодаря реализованным алгоритмам анализа данных и механизмам машинного обучения.
  .blue
    .container
      .about-container
        .abouts-block
          .abouts-text.sticky
            h2 Современная архитектура
            p
              | Современная архитектура платформы позволяет внедрять продвинутые технологии семантического анализа и онтологии, что делает процесс образования более интуитивным и эффективным за счет лучшего понимания и обработки запросов студентов.
          .abouts-image
            .about-slider
              .swiper.aboutSwiper
                .swiper-wrapper
                  .swiper-slide
                    a(
                      data-fancybox="about"
                      href="assets/img/about-image3-3-big.jpg"
                    )
                      img(
                        alt=""
                        src="assets/img/about-image3-3.jpg"
                      )
                  .swiper-slide
                    a(
                      data-fancybox="about"
                      href="assets/img/about-image3-2-big.jpg"
                    )
                      img(
                        alt=""
                        src="assets/img/about-image3-2.jpg"
                      )
                  .swiper-slide
                    a(
                      data-fancybox="about"
                      href="assets/img/about-image3-big.jpg"
                    )
                      img(
                        alt=""
                        src="assets/img/about-image3.jpg"
                      )
                .swiper-button-next
                .swiper-button-prev
                .swiper-pagination
        .abouts-block
          .abouts-image
            a(
              data-fancybox="about"
              href="assets/img/about-image4-big.jpg"
            )
              img(
                alt=""
                src="assets/img/about-image4.jpg"
              )
            .d-flex
              .abouts-image-blk
                a(
                  data-fancybox="about"
                  href="assets/img/about-image5-big.jpg"
                )
                  img(
                    alt=""
                    src="assets/img/about-image5.jpg"
                  )
              .abouts-image-blk
                a(
                  data-fancybox="about"
                  href="assets/img/about-image6-big.jpg"
                )
                  img(
                    alt=""
                    src="assets/img/about-image6.jpg"
                  )
          .abouts-text.sticky
            .abouts-blk
              h2 Обучающая платформа
              p
                | Онлайн-уроки, их записи, конспекты занятий, обучающие материалы и общение с тьютором будет проходить именно на обучающей платформе. Каждый ученик и его родитель получит доступ (аккаунт) к платформе.
            .abouts-blk
              h2 Образовательная система
              p
                | Основные усилия Школы направлены на технологическую разработку замкнутой, самодостаточной образовательной системы, позволяющей учащимся эффективно получать новые знания.
.about-docs
  .container
    .about-docs-container
      h2.about-docs-title Документы, описывающие условия использования «Образовательной онлайн-платформы Точка знаний»
      .about-docs-area
        .about-docs-text ПО распространяется в виде интернет-сервиса, специальные действия по установке ПО на стороне пользователя не требуются
        a.about-docs-link(href='#')
          .about-docs-link-name Функциональные характеристики ПО
          .about-docs-link-btn Открыть
        a.about-docs-link(href='#')
          .about-docs-link-name Инструкция по эксплуатации
          .about-docs-link-btn Открыть
