section#Class.classes
  .container
    h2 &Vcy;&ycy;&bcy;&iecy;&rcy;&icy;&tcy;&iecy; &kcy;&lcy;&acy;&scy;&scy;
    .classes-block
      ul#pills-tab.nav.nav-pills(role='tablist')
        li.nav-item(role='presentation')
          button#pills-tab1.nav-link.active(data-bs-toggle='pill' data-bs-target='#tab1' type='button' role='tab' aria-controls='pills-home' aria-selected='true') 1
        li.nav-item(role='presentation')
          button#pills-tab2.nav-link(data-bs-toggle='pill' data-bs-target='#tab2' type='button' role='tab' aria-controls='pills-profile' aria-selected='false') 2
        li.nav-item(role='presentation')
          button#pills-tab3.nav-link(data-bs-toggle='pill' data-bs-target='#tab3' type='button' role='tab' aria-controls='pills-contact' aria-selected='false') 3
        li.nav-item(role='presentation')
          button#pills-tab4.nav-link(data-bs-toggle='pill' data-bs-target='#tab4' type='button' role='tab' aria-controls='pills-contact' aria-selected='false') 4
      #pills-tabContent.tab-content
        #tab1.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='pills-tab1')
          .classes-external
            picture.classes-external__picture
              source(srcset=staticImg('classes-external/classes-external_100.svg') media="(max-width: 992px)")
              source(srcset=staticImg('classes-external/classes-external_197.svg') media="(max-width: 1440px)")
              img.classes-external__image(src=staticImg('classes-external/classes-external.svg') alt='')
            .classes-external__area
              .classes-external__class 1 класс
              .classes-external__head
                .classes-external__title Экстернат
                ul.classes-external__tags
                  each item in ['Аттестация онлайн','Прикрепление к школе','Семейное обучение']
                    li= item
              .classes-external__text.
                Получайте школьное образование дома. Онлайн. С лучшими учителями РФ, внимательными тьюторами и&nbsp;аттестацией.
              a.classes-external__button.btn-warning(href='#') Выбрать
          .row
            .col-md-6
              .classes-teacher.d-flex.align-items-streight
                .classes-teacher-image
                  img(src='assets/img/class-teacher1.png' alt='')
                .classes-teacher-info
                  .classes-teacher-header
                    .classes-teacher-header-info
                      span 1 &kcy;&lcy;&acy;&scy;&scy;
                      p &Mcy;&acy;&tcy;&iecy;&mcy;&acy;&tcy;&icy;&kcy;&acy; &Mcy;. &Icy;. &Mcy;&ocy;&rcy;&ocy; &laquo;&SHcy;&kcy;&ocy;&lcy;&acy; &Rcy;&ocy;&scy;&scy;&icy;&icy;&raquo;
                  .classes-teacher-body
                    span &Acy;&ncy;&ncy;&acy; &Bcy;&acy;&bcy;&iecy;&ncy;&kcy;&ocy;
                    p 5 &lcy;&iecy;&tcy; &scy;&tcy;&acy;&zhcy;&acy;, &pcy;&ocy;&bcy;&iecy;&dcy;&icy;&tcy;&iecy;&lcy;&softcy; &Vcy;&scy;&iecy;&rcy;&ocy;&scy;&scy;&icy;&jcy;&scy;&kcy;&ocy;&jcy; &Ocy;&lcy;&icy;&mcy;&pcy;&icy;&acy;&dcy;&ycy; &pcy;&ocy; &mcy;&acy;&tcy;&iecy;&mcy;&acy;&tcy;&icy;&kcy;&iecy;, &dcy;&ocy;&tscy;&iecy;&ncy;&tcy; &kcy;&acy;&fcy;&iecy;&dcy;&rcy;&ycy;
                  a.btn.btn-warning(href='math1-teacher.html') &Vcy;&ycy;&bcy;&rcy;&acy;&tcy;&softcy;
            .col-md-6
              .classes-teacher.d-flex.align-items-streight
                .classes-teacher-image
                  img(src='assets/img/class-teacher2.png' alt='')
                .classes-teacher-info
                  .classes-teacher-header
                    .classes-teacher-header-info
                      span 1 &kcy;&lcy;&acy;&scy;&scy;
                      p &Mcy;&acy;&tcy;&iecy;&mcy;&acy;&tcy;&icy;&kcy;&acy; &Mcy;. &Icy;. &Mcy;&ocy;&rcy;&ocy; &laquo;&SHcy;&kcy;&ocy;&lcy;&acy; &Rcy;&ocy;&scy;&scy;&icy;&icy;&raquo;
                  .classes-teacher-body
                    span &Acy;&ncy;&ncy;&acy; &Bcy;&acy;&bcy;&iecy;&ncy;&kcy;&ocy;
                    p 5 &lcy;&iecy;&tcy; &scy;&tcy;&acy;&zhcy;&acy;, &pcy;&ocy;&bcy;&iecy;&dcy;&icy;&tcy;&iecy;&lcy;&softcy; &Vcy;&scy;&iecy;&rcy;&ocy;&scy;&scy;&icy;&jcy;&scy;&kcy;&ocy;&jcy;
                  a.btn.btn-warning(href='#') &Vcy;&ycy;&bcy;&rcy;&acy;&tcy;&softcy;
            .col-md-6
              .classes-teacher.d-flex.align-items-streight
                .classes-teacher-image
                  img(src='assets/img/class-teacher3.png' alt='')
                .classes-teacher-info
                  .classes-teacher-header
                    .classes-teacher-header-info
                      span 1 &kcy;&lcy;&acy;&scy;&scy;
                      p &Mcy;&acy;&tcy;&iecy;&mcy;&acy;&tcy;&icy;&kcy;&acy; &Mcy;. &Icy;. &Mcy;&ocy;&rcy;&ocy; &laquo;&SHcy;&kcy;&ocy;&lcy;&acy; &Rcy;&ocy;&scy;&scy;&icy;&icy;&raquo;
                  .classes-teacher-body
                    span &Pcy;&yacy;&tcy;&acy;&kcy;&ocy;&vcy;&acy; &Pcy;&ocy;&lcy;&icy;&ncy;&acy;
                    p 5 &lcy;&iecy;&tcy; &scy;&tcy;&acy;&zhcy;&acy;
                  a.btn.btn-warning(href='#') &Vcy;&ycy;&bcy;&rcy;&acy;&tcy;&softcy;
            .col-md-6
              .classes-teacher.d-flex.align-items-streight
                .classes-teacher-image
                  img(src='assets/img/class-teacher4.png' alt='')
                .classes-teacher-info
                  .classes-teacher-header
                    .classes-teacher-header-info
                      span 1 &kcy;&lcy;&acy;&scy;&scy;
                      p &Mcy;&acy;&tcy;&iecy;&mcy;&acy;&tcy;&icy;&kcy;&acy; &Mcy;. &Icy;. &Mcy;&ocy;&rcy;&ocy; &laquo;&SHcy;&kcy;&ocy;&lcy;&acy; &Rcy;&ocy;&scy;&scy;&icy;&icy;&raquo;
                  .classes-teacher-body
                    span &SHCHcy;&iecy;&rcy;&bcy;&acy;&kcy;&ocy;&vcy;&acy; &IEcy;&kcy;&acy;&tcy;&iecy;&rcy;&icy;&ncy;&acy;
                    p
                      | 5 &lcy;&iecy;&tcy; &scy;&tcy;&acy;&zhcy;&acy;, &pcy;&ocy;&bcy;&iecy;&dcy;&icy;&tcy;&iecy;&lcy;&softcy; &Vcy;&scy;&iecy;&rcy;&ocy;&scy;&scy;&icy;&jcy;&scy;&kcy;&ocy;&jcy; &Ocy;&lcy;&icy;&mcy;&pcy;&icy;&acy;&dcy;&ycy; &pcy;&ocy; &mcy;&acy;&tcy;&iecy;&mcy;&acy;&tcy;&icy;&kcy;&iecy;, &dcy;&ocy;&tscy;&iecy;&ncy;&tcy; &kcy;&acy;&fcy;&iecy;&dcy;&rcy;&ycy; &Mcy;&Gcy;&Ucy;, &Kcy;&acy;&ncy;&dcy;&icy;&dcy;&acy;&tcy; &mcy;&acy;&tcy;&iecy;&mcy;&acy;&tcy;&icy;&chcy;&iecy;&scy;&kcy;&icy;&khcy; &ncy;&acy;&ucy;&kcy;
                  a.btn.btn-warning(href='#') &Vcy;&ycy;&bcy;&rcy;&acy;&tcy;&softcy;
            .col-md-6
              .classes-teacher.d-flex.align-items-streight
                .classes-teacher-image
                  img(src='assets/img/class-teacher5.png' alt='')
                .classes-teacher-info
                  .classes-teacher-header
                    .classes-teacher-header-info
                      span 1 &kcy;&lcy;&acy;&scy;&scy;
                      p &Mcy;&acy;&tcy;&iecy;&mcy;&acy;&tcy;&icy;&kcy;&acy; &Mcy;. &Icy;. &Mcy;&ocy;&rcy;&ocy; &laquo;&SHcy;&kcy;&ocy;&lcy;&acy; &Rcy;&ocy;&scy;&scy;&icy;&icy;&raquo;
                  .classes-teacher-body
                    span &Mcy;&acy;&rcy;&chcy;&iecy;&ncy;&kcy;&ocy; &IEcy;&kcy;&acy;&tcy;&iecy;&rcy;&icy;&ncy;&acy;
                    p
                      | 5 &lcy;&iecy;&tcy; &scy;&tcy;&acy;&zhcy;&acy;, &pcy;&ocy;&bcy;&iecy;&dcy;&icy;&tcy;&iecy;&lcy;&softcy; &Vcy;&scy;&iecy;&rcy;&ocy;&scy;&scy;&icy;&jcy;&scy;&kcy;&ocy;&jcy; &Ocy;&lcy;&icy;&mcy;&pcy;&icy;&acy;&dcy;&ycy; &pcy;&ocy; &mcy;&acy;&tcy;&iecy;&mcy;&acy;&tcy;&icy;&kcy;&iecy;, &dcy;&ocy;&tscy;&iecy;&ncy;&tcy; &kcy;&acy;&fcy;&iecy;&dcy;&rcy;&ycy; &Mcy;&Gcy;&Ucy;, &Kcy;&acy;&ncy;&dcy;&icy;&dcy;&acy;&tcy; &mcy;&acy;&tcy;&iecy;&mcy;&acy;&tcy;&icy;&chcy;&iecy;&scy;&kcy;&icy;&khcy; &ncy;&acy;&ucy;&kcy;
                  a.btn.btn-warning(href='#') &Vcy;&ycy;&bcy;&rcy;&acy;&tcy;&softcy;
            .col-md-6
              .classes-teacher.d-flex.align-items-streight
                .classes-teacher-image
                  img(src='assets/img/class-teacher6.png' alt='')
                .classes-teacher-info
                  .classes-teacher-header
                    .classes-teacher-header-info
                      span 1 &kcy;&lcy;&acy;&scy;&scy;
                      p &Mcy;&acy;&tcy;&iecy;&mcy;&acy;&tcy;&icy;&kcy;&acy; &Mcy;. &Icy;. &Mcy;&ocy;&rcy;&ocy; &laquo;&SHcy;&kcy;&ocy;&lcy;&acy; &Rcy;&ocy;&scy;&scy;&icy;&icy;&raquo;
                  .classes-teacher-body
                    span &Scy;&tcy;&rcy;&yucy;&kcy;&ocy;&vcy; &Acy;&lcy;&iecy;&kcy;&scy;&acy;&ncy;&dcy;&rcy;
                    p
                      | 5 &lcy;&iecy;&tcy; &scy;&tcy;&acy;&zhcy;&acy;, &pcy;&ocy;&bcy;&iecy;&dcy;&icy;&tcy;&iecy;&lcy;&softcy; &Vcy;&scy;&iecy;&rcy;&ocy;&scy;&scy;&icy;&jcy;&scy;&kcy;&ocy;&jcy; &Ocy;&lcy;&icy;&mcy;&pcy;&icy;&acy;&dcy;&ycy; &pcy;&ocy; &mcy;&acy;&tcy;&iecy;&mcy;&acy;&tcy;&icy;&kcy;&iecy;, &dcy;&ocy;&tscy;&iecy;&ncy;&tcy; &kcy;&acy;&fcy;&iecy;&dcy;&rcy;&ycy; &Mcy;&Gcy;&Ucy;, &Kcy;&acy;&ncy;&dcy;&icy;&dcy;&acy;&tcy; &mcy;&acy;&tcy;&iecy;&mcy;&acy;&tcy;&icy;&chcy;&iecy;&scy;&kcy;&icy;&khcy; &ncy;&acy;&ucy;&kcy;
                  a.btn.btn-warning(href='#') &Vcy;&ycy;&bcy;&rcy;&acy;&tcy;&softcy;
          .pagination-block(aria-label='Page navigation example')
            ul.pagination
              li.page-item.arw.disabled
                a.page-link(href='#' tabindex='-1' aria-disabled='true')
              li.page-item.active
                a.page-link(href='#') 1
              li.page-item
                a.page-link(href='#') 2
              li.page-item
                a.page-link(href='#') 3
              li.page-item
                a.page-link(href='#') ...
              li.page-item
                a.page-link(href='#') 5
              li.page-item.arw
                a.page-link(href='#')
        #tab2.tab-pane.fade.show(role='tabpanel' aria-labelledby='pills-tab2')
          .classes-external.classes-external_green
            picture.classes-external__picture
              source(srcset=staticImg('classes-external/classes-external_100.svg') media="(max-width: 992px)")
              source(srcset=staticImg('classes-external/classes-external_197.svg') media="(max-width: 1440px)")
              img.classes-external__image(src=staticImg('classes-external/classes-external.svg') alt='')
            .classes-external__area
              .classes-external__class 2 класс
              .classes-external__head
                .classes-external__title Экстернат
                ul.classes-external__tags
                  each item in ['Аттестация онлайн','Прикрепление к школе','Семейное обучение']
                    li= item
              .classes-external__text.
                Получайте школьное образование дома. Онлайн. С лучшими учителями РФ, внимательными тьюторами и&nbsp;аттестацией.
              a.classes-external__button.btn-warning(href='#') Выбрать
          .row
            .col-md-6
              .classes-teacher.d-flex.align-items-streight
                .classes-teacher-image
                  img(src='assets/img/class-teacher4.png' alt='')
                .classes-teacher-info
                  .classes-teacher-header
                    .classes-teacher-header-info
                      span 2 &kcy;&lcy;&acy;&scy;&scy;
                      p &Mcy;&acy;&tcy;&iecy;&mcy;&acy;&tcy;&icy;&kcy;&acy; &Mcy;. &Icy;. &Mcy;&ocy;&rcy;&ocy; &laquo;&SHcy;&kcy;&ocy;&lcy;&acy; &Rcy;&ocy;&scy;&scy;&icy;&icy;&raquo;
                  .classes-teacher-body
                    span &SHCHcy;&iecy;&rcy;&bcy;&acy;&kcy;&ocy;&vcy;&acy; &IEcy;&kcy;&acy;&tcy;&iecy;&rcy;&icy;&ncy;&acy;
                    p
                      | 5 &lcy;&iecy;&tcy; &scy;&tcy;&acy;&zhcy;&acy;, &pcy;&ocy;&bcy;&iecy;&dcy;&icy;&tcy;&iecy;&lcy;&softcy; &Vcy;&scy;&iecy;&rcy;&ocy;&scy;&scy;&icy;&jcy;&scy;&kcy;&ocy;&jcy; &Ocy;&lcy;&icy;&mcy;&pcy;&icy;&acy;&dcy;&ycy; &pcy;&ocy; &mcy;&acy;&tcy;&iecy;&mcy;&acy;&tcy;&icy;&kcy;&iecy;, &dcy;&ocy;&tscy;&iecy;&ncy;&tcy; &kcy;&acy;&fcy;&iecy;&dcy;&rcy;&ycy; &Mcy;&Gcy;&Ucy;, &Kcy;&acy;&ncy;&dcy;&icy;&dcy;&acy;&tcy; &mcy;&acy;&tcy;&iecy;&mcy;&acy;&tcy;&icy;&chcy;&iecy;&scy;&kcy;&icy;&khcy; &ncy;&acy;&ucy;&kcy;
                  a.btn.btn-warning(href='#') &Vcy;&ycy;&bcy;&rcy;&acy;&tcy;&softcy;
            .col-md-6
              .classes-teacher.d-flex.align-items-streight
                .classes-teacher-image
                  img(src='assets/img/class-teacher5.png' alt='')
                .classes-teacher-info
                  .classes-teacher-header
                    .classes-teacher-header-info
                      span 2 &kcy;&lcy;&acy;&scy;&scy;
                      p &Mcy;&acy;&tcy;&iecy;&mcy;&acy;&tcy;&icy;&kcy;&acy; &Mcy;. &Icy;. &Mcy;&ocy;&rcy;&ocy; &laquo;&SHcy;&kcy;&ocy;&lcy;&acy; &Rcy;&ocy;&scy;&scy;&icy;&icy;&raquo;
                  .classes-teacher-body
                    span &Mcy;&acy;&rcy;&chcy;&iecy;&ncy;&kcy;&ocy; &IEcy;&kcy;&acy;&tcy;&iecy;&rcy;&icy;&ncy;&acy;
                    p
                      | 5 &lcy;&iecy;&tcy; &scy;&tcy;&acy;&zhcy;&acy;, &pcy;&ocy;&bcy;&iecy;&dcy;&icy;&tcy;&iecy;&lcy;&softcy; &Vcy;&scy;&iecy;&rcy;&ocy;&scy;&scy;&icy;&jcy;&scy;&kcy;&ocy;&jcy; &Ocy;&lcy;&icy;&mcy;&pcy;&icy;&acy;&dcy;&ycy; &pcy;&ocy; &mcy;&acy;&tcy;&iecy;&mcy;&acy;&tcy;&icy;&kcy;&iecy;, &dcy;&ocy;&tscy;&iecy;&ncy;&tcy; &kcy;&acy;&fcy;&iecy;&dcy;&rcy;&ycy; &Mcy;&Gcy;&Ucy;, &Kcy;&acy;&ncy;&dcy;&icy;&dcy;&acy;&tcy; &mcy;&acy;&tcy;&iecy;&mcy;&acy;&tcy;&icy;&chcy;&iecy;&scy;&kcy;&icy;&khcy; &ncy;&acy;&ucy;&kcy;
                  a.btn.btn-warning(href='#') &Vcy;&ycy;&bcy;&rcy;&acy;&tcy;&softcy;
            .col-md-6
              .classes-teacher.d-flex.align-items-streight
                .classes-teacher-image
                  img(src='assets/img/class-teacher6.png' alt='')
                .classes-teacher-info
                  .classes-teacher-header
                    .classes-teacher-header-info
                      span 2 &kcy;&lcy;&acy;&scy;&scy;
                      p &Mcy;&acy;&tcy;&iecy;&mcy;&acy;&tcy;&icy;&kcy;&acy; &Mcy;. &Icy;. &Mcy;&ocy;&rcy;&ocy; &laquo;&SHcy;&kcy;&ocy;&lcy;&acy; &Rcy;&ocy;&scy;&scy;&icy;&icy;&raquo;
                  .classes-teacher-body
                    span &Scy;&tcy;&rcy;&yucy;&kcy;&ocy;&vcy; &Acy;&lcy;&iecy;&kcy;&scy;&acy;&ncy;&dcy;&rcy;
                    p
                      | 5 &lcy;&iecy;&tcy; &scy;&tcy;&acy;&zhcy;&acy;, &pcy;&ocy;&bcy;&iecy;&dcy;&icy;&tcy;&iecy;&lcy;&softcy; &Vcy;&scy;&iecy;&rcy;&ocy;&scy;&scy;&icy;&jcy;&scy;&kcy;&ocy;&jcy; &Ocy;&lcy;&icy;&mcy;&pcy;&icy;&acy;&dcy;&ycy; &pcy;&ocy; &mcy;&acy;&tcy;&iecy;&mcy;&acy;&tcy;&icy;&kcy;&iecy;, &dcy;&ocy;&tscy;&iecy;&ncy;&tcy; &kcy;&acy;&fcy;&iecy;&dcy;&rcy;&ycy; &Mcy;&Gcy;&Ucy;, &Kcy;&acy;&ncy;&dcy;&icy;&dcy;&acy;&tcy; &mcy;&acy;&tcy;&iecy;&mcy;&acy;&tcy;&icy;&chcy;&iecy;&scy;&kcy;&icy;&khcy; &ncy;&acy;&ucy;&kcy;
                  a.btn.btn-warning(href='#') &Vcy;&ycy;&bcy;&rcy;&acy;&tcy;&softcy;
            .col-md-6
              .classes-teacher.d-flex.align-items-streight
                .classes-teacher-image
                  img(src='assets/img/class-teacher1.png' alt='')
                .classes-teacher-info
                  .classes-teacher-header
                    .classes-teacher-header-info
                      span 2 &kcy;&lcy;&acy;&scy;&scy;
                      p &Mcy;&acy;&tcy;&iecy;&mcy;&acy;&tcy;&icy;&kcy;&acy; &Mcy;. &Icy;. &Mcy;&ocy;&rcy;&ocy; &laquo;&SHcy;&kcy;&ocy;&lcy;&acy; &Rcy;&ocy;&scy;&scy;&icy;&icy;&raquo;
                  .classes-teacher-body
                    span &Acy;&ncy;&ncy;&acy; &Bcy;&acy;&bcy;&iecy;&ncy;&kcy;&ocy;
                    p 5 &lcy;&iecy;&tcy; &scy;&tcy;&acy;&zhcy;&acy;, &pcy;&ocy;&bcy;&iecy;&dcy;&icy;&tcy;&iecy;&lcy;&softcy; &Vcy;&scy;&iecy;&rcy;&ocy;&scy;&scy;&icy;&jcy;&scy;&kcy;&ocy;&jcy; &Ocy;&lcy;&icy;&mcy;&pcy;&icy;&acy;&dcy;&ycy; &pcy;&ocy; &mcy;&acy;&tcy;&iecy;&mcy;&acy;&tcy;&icy;&kcy;&iecy;, &dcy;&ocy;&tscy;&iecy;&ncy;&tcy; &kcy;&acy;&fcy;&iecy;&dcy;&rcy;&ycy;
                  a.btn.btn-warning(href='#') &Vcy;&ycy;&bcy;&rcy;&acy;&tcy;&softcy;
            .col-md-6
              .classes-teacher.d-flex.align-items-streight
                .classes-teacher-image
                  img(src='assets/img/class-teacher2.png' alt='')
                .classes-teacher-info
                  .classes-teacher-header
                    .classes-teacher-header-info
                      span 2 &kcy;&lcy;&acy;&scy;&scy;
                      p &Mcy;&acy;&tcy;&iecy;&mcy;&acy;&tcy;&icy;&kcy;&acy; &Mcy;. &Icy;. &Mcy;&ocy;&rcy;&ocy; &laquo;&SHcy;&kcy;&ocy;&lcy;&acy; &Rcy;&ocy;&scy;&scy;&icy;&icy;&raquo;
                  .classes-teacher-body
                    span &Acy;&ncy;&ncy;&acy; &Bcy;&acy;&bcy;&iecy;&ncy;&kcy;&ocy;
                    p 5 &lcy;&iecy;&tcy; &scy;&tcy;&acy;&zhcy;&acy;, &pcy;&ocy;&bcy;&iecy;&dcy;&icy;&tcy;&iecy;&lcy;&softcy; &Vcy;&scy;&iecy;&rcy;&ocy;&scy;&scy;&icy;&jcy;&scy;&kcy;&ocy;&jcy;
                  a.btn.btn-warning(href='#') &Vcy;&ycy;&bcy;&rcy;&acy;&tcy;&softcy;
            .col-md-6
              .classes-teacher.d-flex.align-items-streight
                .classes-teacher-image
                  img(src='assets/img/class-teacher3.png' alt='')
                .classes-teacher-info
                  .classes-teacher-header
                    .classes-teacher-header-info
                      span 2 &kcy;&lcy;&acy;&scy;&scy;
                      p &Mcy;&acy;&tcy;&iecy;&mcy;&acy;&tcy;&icy;&kcy;&acy; &Mcy;. &Icy;. &Mcy;&ocy;&rcy;&ocy; &laquo;&SHcy;&kcy;&ocy;&lcy;&acy; &Rcy;&ocy;&scy;&scy;&icy;&icy;&raquo;
                  .classes-teacher-body
                    span &Pcy;&yacy;&tcy;&acy;&kcy;&ocy;&vcy;&acy; &Pcy;&ocy;&lcy;&icy;&ncy;&acy;
                    p 5 &lcy;&iecy;&tcy; &scy;&tcy;&acy;&zhcy;&acy;
                  a.btn.btn-warning(href='#') &Vcy;&ycy;&bcy;&rcy;&acy;&tcy;&softcy;
          .pagination-block(aria-label='Page navigation example')
            ul.pagination
              li.page-item.arw
                a.page-link(href='#')
              li.page-item.active
                a.page-link(href='#') 1
              li.page-item
                a.page-link(href='#') 2
              li.page-item
                a.page-link(href='#') 3
              li.page-item
                a.page-link(href='#') ...
              li.page-item
                a.page-link(href='#') 5
              li.page-item.arw
                a.page-link(href='#')
        #tab3.tab-pane.fade.show(role='tabpanel' aria-labelledby='pills-tab3')
          .row
            .col-md-6
              .classes-teacher.d-flex.align-items-streight
                .classes-teacher-image
                  img(src='assets/img/class-teacher3.png' alt='')
                .classes-teacher-info
                  .classes-teacher-header
                    .classes-teacher-header-info
                      span 3 &kcy;&lcy;&acy;&scy;&scy;
                      p &Mcy;&acy;&tcy;&iecy;&mcy;&acy;&tcy;&icy;&kcy;&acy; &Mcy;. &Icy;. &Mcy;&ocy;&rcy;&ocy; &laquo;&SHcy;&kcy;&ocy;&lcy;&acy; &Rcy;&ocy;&scy;&scy;&icy;&icy;&raquo;
                  .classes-teacher-body
                    span &Pcy;&yacy;&tcy;&acy;&kcy;&ocy;&vcy;&acy; &Pcy;&ocy;&lcy;&icy;&ncy;&acy;
                    p 5 &lcy;&iecy;&tcy; &scy;&tcy;&acy;&zhcy;&acy;
                  a.btn.btn-warning(href='#') &Vcy;&ycy;&bcy;&rcy;&acy;&tcy;&softcy;
            .col-md-6
              .classes-teacher.d-flex.align-items-streight
                .classes-teacher-image
                  img(src='assets/img/class-teacher4.png' alt='')
                .classes-teacher-info
                  .classes-teacher-header
                    .classes-teacher-header-info
                      span 3 &kcy;&lcy;&acy;&scy;&scy;
                      p &Mcy;&acy;&tcy;&iecy;&mcy;&acy;&tcy;&icy;&kcy;&acy; &Mcy;. &Icy;. &Mcy;&ocy;&rcy;&ocy; &laquo;&SHcy;&kcy;&ocy;&lcy;&acy; &Rcy;&ocy;&scy;&scy;&icy;&icy;&raquo;
                  .classes-teacher-body
                    span &SHCHcy;&iecy;&rcy;&bcy;&acy;&kcy;&ocy;&vcy;&acy; &IEcy;&kcy;&acy;&tcy;&iecy;&rcy;&icy;&ncy;&acy;
                    p
                      | 5 &lcy;&iecy;&tcy; &scy;&tcy;&acy;&zhcy;&acy;, &pcy;&ocy;&bcy;&iecy;&dcy;&icy;&tcy;&iecy;&lcy;&softcy; &Vcy;&scy;&iecy;&rcy;&ocy;&scy;&scy;&icy;&jcy;&scy;&kcy;&ocy;&jcy; &Ocy;&lcy;&icy;&mcy;&pcy;&icy;&acy;&dcy;&ycy; &pcy;&ocy; &mcy;&acy;&tcy;&iecy;&mcy;&acy;&tcy;&icy;&kcy;&iecy;, &dcy;&ocy;&tscy;&iecy;&ncy;&tcy; &kcy;&acy;&fcy;&iecy;&dcy;&rcy;&ycy; &Mcy;&Gcy;&Ucy;, &Kcy;&acy;&ncy;&dcy;&icy;&dcy;&acy;&tcy; &mcy;&acy;&tcy;&iecy;&mcy;&acy;&tcy;&icy;&chcy;&iecy;&scy;&kcy;&icy;&khcy; &ncy;&acy;&ucy;&kcy;
                  a.btn.btn-warning(href='#') &Vcy;&ycy;&bcy;&rcy;&acy;&tcy;&softcy;
            .col-md-6
              .classes-teacher.d-flex.align-items-streight
                .classes-teacher-image
                  img(src='assets/img/class-teacher1.png' alt='')
                .classes-teacher-info
                  .classes-teacher-header
                    .classes-teacher-header-info
                      span 3 &kcy;&lcy;&acy;&scy;&scy;
                      p &Mcy;&acy;&tcy;&iecy;&mcy;&acy;&tcy;&icy;&kcy;&acy; &Mcy;. &Icy;. &Mcy;&ocy;&rcy;&ocy; &laquo;&SHcy;&kcy;&ocy;&lcy;&acy; &Rcy;&ocy;&scy;&scy;&icy;&icy;&raquo;
                  .classes-teacher-body
                    span &Acy;&ncy;&ncy;&acy; &Bcy;&acy;&bcy;&iecy;&ncy;&kcy;&ocy;
                    p 5 &lcy;&iecy;&tcy; &scy;&tcy;&acy;&zhcy;&acy;, &pcy;&ocy;&bcy;&iecy;&dcy;&icy;&tcy;&iecy;&lcy;&softcy; &Vcy;&scy;&iecy;&rcy;&ocy;&scy;&scy;&icy;&jcy;&scy;&kcy;&ocy;&jcy; &Ocy;&lcy;&icy;&mcy;&pcy;&icy;&acy;&dcy;&ycy; &pcy;&ocy; &mcy;&acy;&tcy;&iecy;&mcy;&acy;&tcy;&icy;&kcy;&iecy;, &dcy;&ocy;&tscy;&iecy;&ncy;&tcy; &kcy;&acy;&fcy;&iecy;&dcy;&rcy;&ycy;
                  a.btn.btn-warning(href='#') &Vcy;&ycy;&bcy;&rcy;&acy;&tcy;&softcy;
            .col-md-6
              .classes-teacher.d-flex.align-items-streight
                .classes-teacher-image
                  img(src='assets/img/class-teacher2.png' alt='')
                .classes-teacher-info
                  .classes-teacher-header
                    .classes-teacher-header-info
                      span 3 &kcy;&lcy;&acy;&scy;&scy;
                      p &Mcy;&acy;&tcy;&iecy;&mcy;&acy;&tcy;&icy;&kcy;&acy; &Mcy;. &Icy;. &Mcy;&ocy;&rcy;&ocy; &laquo;&SHcy;&kcy;&ocy;&lcy;&acy; &Rcy;&ocy;&scy;&scy;&icy;&icy;&raquo;
                  .classes-teacher-body
                    span &Acy;&ncy;&ncy;&acy; &Bcy;&acy;&bcy;&iecy;&ncy;&kcy;&ocy;
                    p 5 &lcy;&iecy;&tcy; &scy;&tcy;&acy;&zhcy;&acy;, &pcy;&ocy;&bcy;&iecy;&dcy;&icy;&tcy;&iecy;&lcy;&softcy; &Vcy;&scy;&iecy;&rcy;&ocy;&scy;&scy;&icy;&jcy;&scy;&kcy;&ocy;&jcy;
                  a.btn.btn-warning(href='#') &Vcy;&ycy;&bcy;&rcy;&acy;&tcy;&softcy;
            .col-md-6
              .classes-teacher.d-flex.align-items-streight
                .classes-teacher-image
                  img(src='assets/img/class-teacher5.png' alt='')
                .classes-teacher-info
                  .classes-teacher-header
                    .classes-teacher-header-info
                      span 3 &kcy;&lcy;&acy;&scy;&scy;
                      p &Mcy;&acy;&tcy;&iecy;&mcy;&acy;&tcy;&icy;&kcy;&acy; &Mcy;. &Icy;. &Mcy;&ocy;&rcy;&ocy; &laquo;&SHcy;&kcy;&ocy;&lcy;&acy; &Rcy;&ocy;&scy;&scy;&icy;&icy;&raquo;
                  .classes-teacher-body
                    span &Mcy;&acy;&rcy;&chcy;&iecy;&ncy;&kcy;&ocy; &IEcy;&kcy;&acy;&tcy;&iecy;&rcy;&icy;&ncy;&acy;
                    p
                      | 5 &lcy;&iecy;&tcy; &scy;&tcy;&acy;&zhcy;&acy;, &pcy;&ocy;&bcy;&iecy;&dcy;&icy;&tcy;&iecy;&lcy;&softcy; &Vcy;&scy;&iecy;&rcy;&ocy;&scy;&scy;&icy;&jcy;&scy;&kcy;&ocy;&jcy; &Ocy;&lcy;&icy;&mcy;&pcy;&icy;&acy;&dcy;&ycy; &pcy;&ocy; &mcy;&acy;&tcy;&iecy;&mcy;&acy;&tcy;&icy;&kcy;&iecy;, &dcy;&ocy;&tscy;&iecy;&ncy;&tcy; &kcy;&acy;&fcy;&iecy;&dcy;&rcy;&ycy; &Mcy;&Gcy;&Ucy;, &Kcy;&acy;&ncy;&dcy;&icy;&dcy;&acy;&tcy; &mcy;&acy;&tcy;&iecy;&mcy;&acy;&tcy;&icy;&chcy;&iecy;&scy;&kcy;&icy;&khcy; &ncy;&acy;&ucy;&kcy;
                  a.btn.btn-warning(href='#') &Vcy;&ycy;&bcy;&rcy;&acy;&tcy;&softcy;
            .col-md-6
              .classes-teacher.d-flex.align-items-streight
                .classes-teacher-image
                  img(src='assets/img/class-teacher6.png' alt='')
                .classes-teacher-info
                  .classes-teacher-header
                    .classes-teacher-header-info
                      span 3 &kcy;&lcy;&acy;&scy;&scy;
                      p &Mcy;&acy;&tcy;&iecy;&mcy;&acy;&tcy;&icy;&kcy;&acy; &Mcy;. &Icy;. &Mcy;&ocy;&rcy;&ocy; &laquo;&SHcy;&kcy;&ocy;&lcy;&acy; &Rcy;&ocy;&scy;&scy;&icy;&icy;&raquo;
                  .classes-teacher-body
                    span &Scy;&tcy;&rcy;&yucy;&kcy;&ocy;&vcy; &Acy;&lcy;&iecy;&kcy;&scy;&acy;&ncy;&dcy;&rcy;
                    p
                      | 5 &lcy;&iecy;&tcy; &scy;&tcy;&acy;&zhcy;&acy;, &pcy;&ocy;&bcy;&iecy;&dcy;&icy;&tcy;&iecy;&lcy;&softcy; &Vcy;&scy;&iecy;&rcy;&ocy;&scy;&scy;&icy;&jcy;&scy;&kcy;&ocy;&jcy; &Ocy;&lcy;&icy;&mcy;&pcy;&icy;&acy;&dcy;&ycy; &pcy;&ocy; &mcy;&acy;&tcy;&iecy;&mcy;&acy;&tcy;&icy;&kcy;&iecy;, &dcy;&ocy;&tscy;&iecy;&ncy;&tcy; &kcy;&acy;&fcy;&iecy;&dcy;&rcy;&ycy; &Mcy;&Gcy;&Ucy;, &Kcy;&acy;&ncy;&dcy;&icy;&dcy;&acy;&tcy; &mcy;&acy;&tcy;&iecy;&mcy;&acy;&tcy;&icy;&chcy;&iecy;&scy;&kcy;&icy;&khcy; &ncy;&acy;&ucy;&kcy;
                  a.btn.btn-warning(href='#') &Vcy;&ycy;&bcy;&rcy;&acy;&tcy;&softcy;
          .pagination-block(aria-label='Page navigation example')
            ul.pagination
              li.page-item.arw
                a.page-link(href='#')
              li.page-item.active
                a.page-link(href='#') 1
              li.page-item
                a.page-link(href='#') 2
              li.page-item
                a.page-link(href='#') 3
              li.page-item
                a.page-link(href='#') ...
              li.page-item
                a.page-link(href='#') 5
              li.page-item.arw
                a.page-link(href='#')
        #tab4.tab-pane.fade.show(role='tabpanel' aria-labelledby='pills-tab4')
          .row
            .col-md-6
              .classes-teacher.d-flex.align-items-streight
                .classes-teacher-image
                  img(src='assets/img/class-teacher6.png' alt='')
                .classes-teacher-info
                  .classes-teacher-header
                    .classes-teacher-header-info
                      span 4 &kcy;&lcy;&acy;&scy;&scy;
                      p &Mcy;&acy;&tcy;&iecy;&mcy;&acy;&tcy;&icy;&kcy;&acy; &Mcy;. &Icy;. &Mcy;&ocy;&rcy;&ocy; &laquo;&SHcy;&kcy;&ocy;&lcy;&acy; &Rcy;&ocy;&scy;&scy;&icy;&icy;&raquo;
                  .classes-teacher-body
                    span &Scy;&tcy;&rcy;&yucy;&kcy;&ocy;&vcy; &Acy;&lcy;&iecy;&kcy;&scy;&acy;&ncy;&dcy;&rcy;
                    p
                      | 5 &lcy;&iecy;&tcy; &scy;&tcy;&acy;&zhcy;&acy;, &pcy;&ocy;&bcy;&iecy;&dcy;&icy;&tcy;&iecy;&lcy;&softcy; &Vcy;&scy;&iecy;&rcy;&ocy;&scy;&scy;&icy;&jcy;&scy;&kcy;&ocy;&jcy; &Ocy;&lcy;&icy;&mcy;&pcy;&icy;&acy;&dcy;&ycy; &pcy;&ocy; &mcy;&acy;&tcy;&iecy;&mcy;&acy;&tcy;&icy;&kcy;&iecy;, &dcy;&ocy;&tscy;&iecy;&ncy;&tcy; &kcy;&acy;&fcy;&iecy;&dcy;&rcy;&ycy; &Mcy;&Gcy;&Ucy;, &Kcy;&acy;&ncy;&dcy;&icy;&dcy;&acy;&tcy; &mcy;&acy;&tcy;&iecy;&mcy;&acy;&tcy;&icy;&chcy;&iecy;&scy;&kcy;&icy;&khcy; &ncy;&acy;&ucy;&kcy;
                  a.btn.btn-warning(href='#') &Vcy;&ycy;&bcy;&rcy;&acy;&tcy;&softcy;
            .col-md-6
              .classes-teacher.d-flex.align-items-streight
                .classes-teacher-image
                  img(src='assets/img/class-teacher1.png' alt='')
                .classes-teacher-info
                  .classes-teacher-header
                    .classes-teacher-header-info
                      span 4 &kcy;&lcy;&acy;&scy;&scy;
                      p &Mcy;&acy;&tcy;&iecy;&mcy;&acy;&tcy;&icy;&kcy;&acy; &Mcy;. &Icy;. &Mcy;&ocy;&rcy;&ocy; &laquo;&SHcy;&kcy;&ocy;&lcy;&acy; &Rcy;&ocy;&scy;&scy;&icy;&icy;&raquo;
                  .classes-teacher-body
                    span &Acy;&ncy;&ncy;&acy; &Bcy;&acy;&bcy;&iecy;&ncy;&kcy;&ocy;
                    p 5 &lcy;&iecy;&tcy; &scy;&tcy;&acy;&zhcy;&acy;, &pcy;&ocy;&bcy;&iecy;&dcy;&icy;&tcy;&iecy;&lcy;&softcy; &Vcy;&scy;&iecy;&rcy;&ocy;&scy;&scy;&icy;&jcy;&scy;&kcy;&ocy;&jcy; &Ocy;&lcy;&icy;&mcy;&pcy;&icy;&acy;&dcy;&ycy; &pcy;&ocy; &mcy;&acy;&tcy;&iecy;&mcy;&acy;&tcy;&icy;&kcy;&iecy;, &dcy;&ocy;&tscy;&iecy;&ncy;&tcy; &kcy;&acy;&fcy;&iecy;&dcy;&rcy;&ycy;
                  a.btn.btn-warning(href='#') &Vcy;&ycy;&bcy;&rcy;&acy;&tcy;&softcy;
            .col-md-6
              .classes-teacher.d-flex.align-items-streight
                .classes-teacher-image
                  img(src='assets/img/class-teacher2.png' alt='')
                .classes-teacher-info
                  .classes-teacher-header
                    .classes-teacher-header-info
                      span 4 &kcy;&lcy;&acy;&scy;&scy;
                      p &Mcy;&acy;&tcy;&iecy;&mcy;&acy;&tcy;&icy;&kcy;&acy; &Mcy;. &Icy;. &Mcy;&ocy;&rcy;&ocy; &laquo;&SHcy;&kcy;&ocy;&lcy;&acy; &Rcy;&ocy;&scy;&scy;&icy;&icy;&raquo;
                  .classes-teacher-body
                    span &Acy;&ncy;&ncy;&acy; &Bcy;&acy;&bcy;&iecy;&ncy;&kcy;&ocy;
                    p 5 &lcy;&iecy;&tcy; &scy;&tcy;&acy;&zhcy;&acy;, &pcy;&ocy;&bcy;&iecy;&dcy;&icy;&tcy;&iecy;&lcy;&softcy; &Vcy;&scy;&iecy;&rcy;&ocy;&scy;&scy;&icy;&jcy;&scy;&kcy;&ocy;&jcy;
                  a.btn.btn-warning(href='#') &Vcy;&ycy;&bcy;&rcy;&acy;&tcy;&softcy;
            .col-md-6
              .classes-teacher.d-flex.align-items-streight
                .classes-teacher-image
                  img(src='assets/img/class-teacher3.png' alt='')
                .classes-teacher-info
                  .classes-teacher-header
                    .classes-teacher-header-info
                      span 4 &kcy;&lcy;&acy;&scy;&scy;
                      p &Mcy;&acy;&tcy;&iecy;&mcy;&acy;&tcy;&icy;&kcy;&acy; &Mcy;. &Icy;. &Mcy;&ocy;&rcy;&ocy; &laquo;&SHcy;&kcy;&ocy;&lcy;&acy; &Rcy;&ocy;&scy;&scy;&icy;&icy;&raquo;
                  .classes-teacher-body
                    span &Pcy;&yacy;&tcy;&acy;&kcy;&ocy;&vcy;&acy; &Pcy;&ocy;&lcy;&icy;&ncy;&acy;
                    p 5 &lcy;&iecy;&tcy; &scy;&tcy;&acy;&zhcy;&acy;
                  a.btn.btn-warning(href='#') &Vcy;&ycy;&bcy;&rcy;&acy;&tcy;&softcy;
            .col-md-6
              .classes-teacher.d-flex.align-items-streight
                .classes-teacher-image
                  img(src='assets/img/class-teacher4.png' alt='')
                .classes-teacher-info
                  .classes-teacher-header
                    .classes-teacher-header-info
                      span 4 &kcy;&lcy;&acy;&scy;&scy;
                      p &Mcy;&acy;&tcy;&iecy;&mcy;&acy;&tcy;&icy;&kcy;&acy; &Mcy;. &Icy;. &Mcy;&ocy;&rcy;&ocy; &laquo;&SHcy;&kcy;&ocy;&lcy;&acy; &Rcy;&ocy;&scy;&scy;&icy;&icy;&raquo;
                  .classes-teacher-body
                    span &SHCHcy;&iecy;&rcy;&bcy;&acy;&kcy;&ocy;&vcy;&acy; &IEcy;&kcy;&acy;&tcy;&iecy;&rcy;&icy;&ncy;&acy;
                    p
                      | 5 &lcy;&iecy;&tcy; &scy;&tcy;&acy;&zhcy;&acy;, &pcy;&ocy;&bcy;&iecy;&dcy;&icy;&tcy;&iecy;&lcy;&softcy; &Vcy;&scy;&iecy;&rcy;&ocy;&scy;&scy;&icy;&jcy;&scy;&kcy;&ocy;&jcy; &Ocy;&lcy;&icy;&mcy;&pcy;&icy;&acy;&dcy;&ycy; &pcy;&ocy; &mcy;&acy;&tcy;&iecy;&mcy;&acy;&tcy;&icy;&kcy;&iecy;, &dcy;&ocy;&tscy;&iecy;&ncy;&tcy; &kcy;&acy;&fcy;&iecy;&dcy;&rcy;&ycy; &Mcy;&Gcy;&Ucy;, &Kcy;&acy;&ncy;&dcy;&icy;&dcy;&acy;&tcy; &mcy;&acy;&tcy;&iecy;&mcy;&acy;&tcy;&icy;&chcy;&iecy;&scy;&kcy;&icy;&khcy; &ncy;&acy;&ucy;&kcy;
                  a.btn.btn-warning(href='#') &Vcy;&ycy;&bcy;&rcy;&acy;&tcy;&softcy;
            .col-md-6
              .classes-teacher.d-flex.align-items-streight
                .classes-teacher-image
                  img(src='assets/img/class-teacher5.png' alt='')
                .classes-teacher-info
                  .classes-teacher-header
                    .classes-teacher-header-info
                      span 4 &kcy;&lcy;&acy;&scy;&scy;
                      p &Mcy;&acy;&tcy;&iecy;&mcy;&acy;&tcy;&icy;&kcy;&acy; &Mcy;. &Icy;. &Mcy;&ocy;&rcy;&ocy; &laquo;&SHcy;&kcy;&ocy;&lcy;&acy; &Rcy;&ocy;&scy;&scy;&icy;&icy;&raquo;
                  .classes-teacher-body
                    span &Mcy;&acy;&rcy;&chcy;&iecy;&ncy;&kcy;&ocy; &IEcy;&kcy;&acy;&tcy;&iecy;&rcy;&icy;&ncy;&acy;
                    p
                      | 5 &lcy;&iecy;&tcy; &scy;&tcy;&acy;&zhcy;&acy;, &pcy;&ocy;&bcy;&iecy;&dcy;&icy;&tcy;&iecy;&lcy;&softcy; &Vcy;&scy;&iecy;&rcy;&ocy;&scy;&scy;&icy;&jcy;&scy;&kcy;&ocy;&jcy; &Ocy;&lcy;&icy;&mcy;&pcy;&icy;&acy;&dcy;&ycy; &pcy;&ocy; &mcy;&acy;&tcy;&iecy;&mcy;&acy;&tcy;&icy;&kcy;&iecy;, &dcy;&ocy;&tscy;&iecy;&ncy;&tcy; &kcy;&acy;&fcy;&iecy;&dcy;&rcy;&ycy; &Mcy;&Gcy;&Ucy;, &Kcy;&acy;&ncy;&dcy;&icy;&dcy;&acy;&tcy; &mcy;&acy;&tcy;&iecy;&mcy;&acy;&tcy;&icy;&chcy;&iecy;&scy;&kcy;&icy;&khcy; &ncy;&acy;&ucy;&kcy;
                  a.btn.btn-warning(href='#') &Vcy;&ycy;&bcy;&rcy;&acy;&tcy;&softcy;
          .pagination-block(aria-label='Page navigation example')
            ul.pagination
              li.page-item.arw
                a.page-link(href='#')
              li.page-item.active
                a.page-link(href='#') 1
              li.page-item
                a.page-link(href='#') 2
              li.page-item
                a.page-link(href='#') 3
              li.page-item
                a.page-link(href='#') ...
              li.page-item
                a.page-link(href='#') 5
              li.page-item.arw
                a.page-link(href='#')
