-
  const marathonChildList = [
    'Пройдут входное и итоговое тестирования на проверку уровня знаний по математике',
    'Повторят самые важные темы по математике за 1 четверть с лучшими учителями РФ',
    'Получат поддержку тьютора по каждой теме: проверку домашних заданий, помощь в исправлении ошибок, ответы на все вопросы по предмету',
    'Выполнят задания и закроют пробелы в знаниях',
  ]

  const marathonChildModal = [
    [
      '<span>Вводный онлайн-урок</span> 28 октября 10:00',
      '<span>Тема №1</span> На сколько больше? На сколько меньше?',
      '<span>Тема №2</span> Числа от 1 до 9: различие, чтение, запись. Число и цифра 4. Длиннее. Короче.',
      '<span>Тема №3</span> Точка. Кривая линия. Прямая линия. Отрезок. Луч. Ломаная линия. Многоугольник.',
      '<span>Тема №4</span> Числа от 1 до 9: различие, чтение, запись. Число и цифра 6. Число и цифра 7.',
      '<span>Тема №5</span> Число 10. Число 0. Сложение и вычитание с числом 0. Сантиметр.',
    ],
    [
      '<span>Вводный онлайн-урок</span> 28 октября 11:00',
      '<span>Тема №1</span> Десяток. Счёт десятками до 100. Устная нумерация чисел от 11 до 100. Запись равенства, неравенства.',
      '<span>Тема №2</span> Письменная нумерация чисел до 100. Однозначные и двузначные числа. Чётные и нечётные числа.',
      '<span>Тема №3</span> Работа с величинами. Единицы времени - час, минута. Единицы стоимости - рубль, копейка.',
      '<span>Тема №4</span> Задачи, обратные данной. Сумма и разность отрезков.',
      '<span>Тема №5</span> Задачи на нахождение неизвестного уменьшаемого.',
    ],
    [
      '<span>Вводный онлайн-урок</span> 28 октября 12:00',
      '<span>Тема №1</span> Выражения с переменной. Решение уравнений.',
      '<span>Тема №2</span> Многоугольники. Периметры многоугольников.',
      '<span>Тема №3</span> Порядок выполнения действий. Окружность. Круг. Циркуль-помощник.',
      '<span>Тема №4</span> Решение задач. Задачи на увеличение числа в несколько раз.',
      '<span>Тема №5</span> Задачи на разностное и кратное сравнение.',
    ],
    [
      '<span>Вводный онлайн-урок</span> 28 октября 13:00',
      '<span>Тема №1</span> Нахождение суммы нескольких слагаемых. Алгоритм письменного сложения и вычитания трёхзначных чисел.',
      '<span>Тема №2</span> Алгоритм письменного деления. Приёмы письменного деления.',
      '<span>Тема №3</span> Сравнение многозначных чисел.',
      '<span>Тема №4</span> Класс миллионов. Класс миллиардов.',
      '<span>Тема №5</span> Единицы площади. Квадратный километр, квадратный миллиметр. Таблица единиц площади.',
    ],
    [
      '<span>Вводный онлайн-урок</span> 29 октября 10:00',
      '<span>Тема №1</span> Арифметические действия с натуральными числами. Сложение и вычитание натуральных чисел. Свойства сложения и вычитания.',
      '<span>Тема №2</span> Числовые и буквенные выражения.',
      '<span>Тема №3</span> Уравнения.',
      '<span>Тема №4</span> Решение задач с помощью уравнений.',
      '<span>Тема №5</span> Упрощение выражений.',
    ],
    [
      '<span>Вводный онлайн-урок</span> 29 октября 11:45',
      '<span>Тема №1</span> Основное свойство дроби. Сокращение дробей.',
      '<span>Тема №2</span> Приведение дробей к общему знаменателю. Сравнение дробей.',
      '<span>Тема №3</span> Сложение и вычитание дробей с разными знаменателями.',
      '<span>Тема №4</span> Сложение и вычитание смешанных чисел.',
      '<span>Тема №5</span> Решение задач по теме: Сложение и вычитание смешанных чисел.',
    ],
    [
      '<span>Вводный онлайн-урок</span> 29 октября 12:30',
      '<span>Тема №1</span> Алгебра. Уравнения с одной переменной. Решение уравнений.',
      '<span>Тема №2</span> Алгебра. Решение задач с помощью уравнений.',
      '<span>Тема №3</span> Геометрия. Смежные и вертикальные углы.',
      '<span>Тема №4</span> Алгебра. Функции и их графики. Вычисление значений функций по формуле.',
      '<span>Тема №5</span> Алгебра. Линейная функция, прямая пропорциональность и их графики.',
    ],
    [
      '<span>Вводный онлайн-урок</span> 29 октября 13:45',
      '<span>Тема №1</span> Алгебра. Сокращение рациональных дробей.',
      '<span>Тема №2</span> Геометрия. Параллелограмм. Свойства параллелограмма.',
      '<span>Тема №3</span> Сложение и вычитание рациональных дробей.',
      '<span>Тема №4</span> Геометрия. Признаки параллелограмма.',
      '<span>Тема №5</span> Алгебра. Умножение рациональных дробей, деление  рациональных дробей, возведение дроби в степень.',
    ]
  ]

.marathon-child
  .container
    .marathon-child__area
      h2.marathon-child__title Дети на марафоне:
      ul.marathon-child__list
        each item, i in marathonChildList
          li.marathon-child__item
            img.marathon-child__icon(src=staticImg(`marathon-child/marathon-child-${i+1}.svg`) alt='')
            .marathon-child__text= item
            if i === 1
              .marathon-child__themes(data-element="marathon-child__themes") Посмотреть темы
                .marathon-child__modal
                  .marathon-child__close(data-element="marathon-child__close")
                  .marathon-child__class Выберите класс
                  .marathon-child__nav
                    each item in [1,2,3,4,5,6,7,8]
                      .marathon-child__nav-item(class = item === 1 ? 'marathon-child__nav-item_active' : false
                        data-element="marathon-child__nav-item" data-index=item-1)= item
                  each item, i in marathonChildModal
                    .marathon-child__box(class = i === 0 ? 'marathon-child__box_active' : false data-element="marathon-child__box")
                      .marathon-child__headline!= `${i+1} класс`
                      each text in item
                        .marathon-child__content!= text
