-
  const questionsList = [
    {
      headline: 'Что делать, если мне не подходит расписание?',
      text: 'Для занятий не нужны микрофон и камера. Достаточно иметь компьютер, телефон или планшет.',
      ariaLabelledBy: 'heading1'
    },
    {
      headline: 'Что произойдёт после оплаты?',
      text: 'Для занятий не нужны микрофон и камера. Достаточно иметь компьютер, телефон или планшет.',
      ariaLabelledBy: 'heading2'
    },
    {
      headline: 'Можно оплачивать обучение в рассрочку?',
      text: 'Для занятий не нужны микрофон и камера. Достаточно иметь компьютер, телефон или планшет.',
      ariaLabelledBy: 'heading3'
    },
    {
      headline: 'Как я буду контролировать обучение ребёнка?',
      text: 'Для занятий не нужны микрофон и камера. Достаточно иметь компьютер, телефон или планшет.',
      ariaLabelledBy: 'heading4'
    },
    {
      headline: 'Как записаться на занятия?',
      text: 'Для занятий не нужны микрофон и камера. Достаточно иметь компьютер, телефон или планшет.',
      ariaLabelledBy: 'heading5'
    },
  ]

mixin questions(mod)
  section.questions(class = mod ? mod : false)
    .container
      .questions-blk
        h2 Отвечаем на вопросы
        #accordion.accordion
           each item, index in questionsList
             .accordion-item
               button.accordion-button.collapsed(id=item.ariaLabelledBy type='button' data-bs-toggle="collapse"
                 data-bs-target=`#faq${index+1}` aria-expanded="true" aria-controls=`faq${index+1}`)= item.headline
               .accordion-collapse.collapse(id=`faq${index+1}`)
                 .accordion-body
                   p= item.text
